@import "~bulma/sass/utilities/_all";

.home-link {
  $font-color: $black-ter;

  font-size: 25px;
  color: $font-color;
  position: relative;
  top: -3px;
  transition: top .3s ease, color .5s ease;

  &:hover {
    color: lighten($font-color, 50%);
    top: 0;
  }
}
