@import "~bulma/sass/utilities/all";

$network-colors: (
  mail: $blue,
  twitter: $orange,
  github: $green,
  linkedIn: $turquoise,
  medium: $red,
);

.contact-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-right: 30px;
  color: $grey;

  &-icon {
    margin-bottom: 5px;
  }

  &,
  &-icon,
  &-title {
    transition: all .7s ease;
  }

  @each $network, $color in $network-colors {
    &.#{$network} {
      color: $color;

      &.contact-item-link:hover {
        .contact-item-icon {
          opacity: .5;
        }

        .contact-item-title {
          opacity: .7;
        }
      }
    }
  }
}

@include mobile() {
  .contact-item-title {
    font-size: 13px;
  }
}
