@import "~bulma/sass/utilities/all";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
