@import "~bulma/sass/utilities/_all";

.content-part-title {
  margin-bottom: 25px;
  color: $black;
}

.content-description {
  margin-bottom: 10px;
  font-size: 20px;
}

.content-temporary-notification {
  margin-bottom: 70px;
  font-size: 15px;
  color: $grey;
}

@include until($tablet) {
  .content-part-title {
    font-size: 2.3rem !important;
  }

  .content-description,
  .content-temporary-notification {
    font-size: 15px;
  }
}
